.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.filterItem {
  cursor: pointer;
}

.logo h2 {
  font-family: "Inter", sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 30px;
  line-height: 36.31px;
}

.menuItemContainer {
  position: relative;
  width: 380px;
  height: 60px;
  background-color: #000000;
  color: #ffffffc9;
  display: flex;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  -webkit-appearance: none;
}

.menuDownArrow {
  color: #ffffffc9;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.foodItemLists {
  position: absolute;
  width: 100%;
  height: 157px;
  background: #000;
  padding: 20px;
  top: calc(100% + 8px);
  left: 0;
  z-index: 555;
}

.foodItemLists ul {
  height: 100%;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.foodItemLists ul li {
  cursor: pointer;
}

@media (max-width: 576px) {
  .navbar {
    margin-top: 0;
  }

  .logo h2 {
    font-size: 25px;
    line-height: 25.31px;
  }

  .menuItemContainer {
    width: 250px;
  }
}
