.foodGallery {
  margin-top: 1.5rem;
}

img {
  width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.grid-wrapper {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
}
.grid-wrapper div {
  position: relative;
}
.grid-wrapper button {
  padding: 11px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background: #0e0303;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  cursor: pointer;
}

.grid-wrapper button:hover {
  opacity: 0.9;
}

.grid-wrapper .item1 {
  grid-column: span 1;
}

.grid-wrapper .item2 {
  grid-column: span 2;
}
.grid-wrapper .item3 {
  grid-row: span 1;
  grid-row: span 3;
}
.grid-wrapper .item4 {
  grid-row: span 1;
  grid-row: span 2;
}
.grid-wrapper .item5 {
  grid-row: span 1;
}
.grid-wrapper .item7 {
  grid-row: span 1;
  grid-row: span 2;
}

.grid-wrapper div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .grid-wrapper {
    width: 100%;
    grid-gap: 10px;
    grid-template-columns: 1fr;
  }
  .grid-wrapper .item1,
  .grid-wrapper .item2,
  .grid-wrapper .item3,
  .grid-wrapper .item4,
  .grid-wrapper .item5,
  .grid-wrapper .item6,
  .grid-wrapper .item7 {
    grid-column: span 1;
  }
}
